img {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

h3 {
  text-align: center;
  color: #f1f7f8;
  margin: 0;
  padding: 5px 0;
}

h3>span {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 5px 0;
}

h3>span.right {
  padding: 5px 50px;
  background: #04131a;
}

.left {
  float: left;
}

.right {
  float: right;
}
