<h3>
  <img src='/assets/img/menu.svg' class="left" (click)="goHome()">
  <img src='/assets/img/next.svg' class="left">
  <span class="left" *ngIf="widgetService.widget">{{widgetService.widget.title}}</span> {{title}}
  <img src='/assets/img/power.svg' class="right">
  <img src='/assets/img/low-signal-strength-bars.svg' class="right">
  <span class="right">{{desc}}</span>
  <img src='/assets/img/exchange-arrows.svg' class="right">
</h3>
