div.panel-heading {
  text-align: center
}

div.panel-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

div.panel-footer a {
  margin: 0 0 0 10px;
}

div.panel {
  height: calc(100vh - 130px)
}

ul {
  max-height: 75vh;
  overflow-y: scroll
}

li {
  width: 100%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

span.right {
  float: right;
  margin-right: 10px;
}

div.row {
  margin-bottom: 20px;
  padding: 0 10px 0 10px
}
