<div class="container-flux full-fill">
  <div class="panel panel-default col-md-3 full-fill">
    <div class="panel-heading">任务</div>
    <div class="panel-body" style="padding:0">
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let job of jobs" [class.active]="curJob && job.jobId == curJob.jobId">
          <a (click)="onNavItemClick(job)">
            <h3>{{job.name}}</h3>
            <p>起始日期:{{job.startDate.toLocaleDateString()}}</p>
            <p>
              终止日期:{{job.endDate.toLocaleDateString()}}
              <span class="right">优先级{{getJobPriorityStr(job.priority)}}</span>
            </p>
          </a>
        </li>
      </ul>
    </div>

    <div class="panel-footer">
      <a href='#'>
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a href='#'>
        <span class="glyphicon glyphicon-minus"></span>
      </a>
    </div>
  </div>
  <div class="panel panel-default col-md-9 full-fill">
    <div class="panel-heading">{{curJob?.name}}</div>
    <div class="panel-body" *ngIf="curJob">
      <form class="form" novalidate [formGroup]="jobForm">
        <div class="row">
          <div class="col form-group" [ngClass]="{
              'has-error':name.invalid && name.dirty,
              'has-success':name.valid && name.dirty
          }">
            <label for="jobName" class="control-label">任务名称</label>
            <input type="text" class="form-control" id="jobName" name="name" formControlName='name' placeholder="任务名称" [(ngModel)]="curJob.name">
            <div class="help-block" *ngIf="name.errors && (name.dirty || name.touched)">
              <p *ngIf="name.errors.required">必须要有任务名称</p>
              <p *ngIf="name.errors.minlength">不能少于5个字符</p>
              <p *ngIf="name.errors.maxlength">不能多于8个字符</p>
            </div>
          </div>
          <div class="form-group col">
            <label for="jobId">任务ID</label>
            <input type="text" class="form-control" id="jobId" name="jobId" formControlName='jobId' placeholder="任务ID" [(ngModel)]="curJob.jobId">
          </div>
          <div class="form-group col">
            <label for="startDate">起始日期</label>
            <input type="date" class="form-control" id="startDate" name="startDate" formControlName='startDate' placeholder="起始日期" [value]="curJob.startDate | date:'yyyy-MM-dd'"
              (input)="curJob.startDate=parseDate($event.target.value)">
          </div>
          <div class="form-group col">
            <label for="endDate">目标日期</label>
            <input type="date" class="form-control" id="endDate" name="endDate" formControlName='endDate' placeholder="目标日期" [value]="curJob.endDate | date:'yyyy-MM-dd'"
              (input)="curJob.endDate=parseDate($event.target.value)">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="client">客户名称</label>
            <input type="text" class="form-control" id="client" name="client" formControlName='client' placeholder="客户名称" [(ngModel)]="curJob.client">
          </div>
          <div class="form-group col">
            <label for="clientId">Client ID</label>
            <input type="text" class="form-control" id="clientId" name="clientId" formControlName='clientId' placeholder="Client ID">
          </div>
          <div class="form-group col">
            <label for="exeDate">执行日期</label>
            <input type="date" class="form-control" id="exeDate" name="exeDate" formControlName='exeDate' placeholder="执行日期" [value]="curJob.exeDate | date:'yyyy-MM-dd'"
              (input)="curJob.exeDate=parseDate($event.target.value)">
          </div>
          <div class="form-group col">
            <label for="exeTime">执行时间</label>
            <input type="time" class="form-control" id="exeTime" name="exeTime" formControlName='exeTime' placeholder="执行时间">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="custom">Custom</label>
            <input type="text" class="form-control" id="custom" name="custom" formControlName='custom' placeholder="Custom">
          </div>
          <div class="form-group col">
            <label for="custom2">Custom</label>
            <input type="text" class="form-control" id="custom2" name="custom2" formControlName='custom2' placeholder="Custom">
          </div>
          <div class="form-group col">
            <label for="priority">优先级</label>
            <input type="text" class="form-control" id="priority" name="priority" formControlName='priority' placeholder="优先级" [value]="getJobPriorityStr(curJob.priority)"
              (input)="curJob.priority=parseJobPriorityStr($event.target.value)">
          </div>
          <div class="form-group col">
            <label for="period">时长</label>
            <input type="text" class="form-control" id="period" name="period" formControlName='period' placeholder="时长">
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="form-group col">
            <button type="rest" class="btn btn-danger">重置</button>
          </div>
          <div class="form-group col">
            <button type="button" class="btn btn-primary">确定</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
