<figure class="baritem" *ngIf="itemModel" [ngClass] = "baritemClass" (click)='onClick()'>
    <img [src] = "itemModel.imgPath" class = "img-rounded" [alt] = "itemModel.title"
        [ngClass] = "borderColorClass">
    <figcaption *ngIf="isMainPanel">{{itemModel.title}}</figcaption>
</figure>