.baritem{
    text-align: center;   
    float: left; 
    color: #DDD
}

.main{
    margin: 10px 0 100px 100px;    
}

.favorite{
    margin: 0 0 5px 5px;
}

.green-border{
    border-top: solid 10px green;
    border-bottom: 10px solid green;
}

.yellow-border{
    border-top: solid 10px darkgoldenrod;
    border-bottom: 10px solid darkgoldenrod;
}

.blue-border{
    border-top: solid 10px darkblue;
    border-bottom: 10px solid darkblue;
}

.orange-border{
    border-top: solid 10px #914316;
    border-bottom: 10px solid #914316;
}

.purple-border{
    border-top: solid 10px purple;
    border-bottom: 10px solid purple;
}

img{
    border: 1px solid gray;
    width: 100px;
    height: 80px;
    background: radial-gradient(ellipse at bottom left, #555, #EEE, #555);
    box-shadow: 5px 5px 2px #333;
}